@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
  text-decoration: inherit;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4.5rem;
  font-family: "Manrope", sans-serif;
  background-color: var(--light-grayish-blue);
}
@media (max-width: 768px) {
  body {
    padding: 1rem;
  }
}

.preview {
  display: flex;
  max-width: 730px;
  width: 100%;
  height: 280px;
  background-color: white;
  border-radius: 0.625rem;
}
@media (max-width: 768px) {
  .preview {
    flex-direction: column;
    position: relative;
    max-width: 327px;
    height: 512px;
  }
}
.preview__image {
  width: 40%;
  border-radius: 0.625rem 0 0 0.625rem;
}
@media (max-width: 768px) {
  .preview__image {
    width: 100%;
    height: 200px;
    border-radius: 0.625rem 0.625rem 0 0;
  }
}
.preview__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 2rem 2.25rem;
}
@media (max-width: 768px) {
  .preview__content {
    width: 100%;
    height: 100%;
    padding: 2rem 2rem 0.75rem 2rem;
  }
}
.preview__content-heading {
  color: var(--very-dark-grayish-blue);
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  letter-spacing: 0.25px;
}
@media (max-width: 768px) {
  .preview__content-heading {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.2px;
  }
}
.preview__content-text {
  color: var(--desaturated-dark-blue);
  font-size: 0.813rem;
  line-height: 1.25rem;
  letter-spacing: 0.12px;
  font-weight: 500;
}
.preview__infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.preview__infos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.preview__infos-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.preview__infos-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.preview__infos-name {
  color: var(--very-dark-grayish-blue);
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.1px;
}
.preview__infos-date {
  color: var(--desaturated-dark-blue);
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.1px;
}
.preview__infos-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media (max-width: 768px) {
  .preview__infos-btn {
    position: unset;
  }
}
.preview__socials {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 1rem;
  height: 55px;
  width: 248px;
  z-index: 1;
  bottom: calc(100% + 20px);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--very-dark-grayish-blue);
  border-radius: 0.625rem;
}
@media (max-width: 768px) {
  .preview__socials {
    justify-content: start;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 2rem;
    height: 4rem;
    width: 100%;
    border-radius: 0 0 0.625rem 0.625rem;
    transform: unset;
  }
}
.preview__socials a {
  height: 20px;
}
.preview__socials--active {
  display: flex;
}
.preview__socials::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid var(--very-dark-grayish-blue);
  top: 100%;
  right: 50%;
  transform: translateX(50%);
}
@media (max-width: 768px) {
  .preview__socials::before {
    display: none;
  }
}
.preview__socials-text {
  font-size: 0.81rem;
  letter-spacing: 5px;
  line-height: 1.25rem;
  color: var(--grayish-blue);
}

.btn {
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
  background-color: var(--light-grayish-blue);
  cursor: pointer;
  z-index: 999;
}
.btn:hover, .btn--active {
  background-color: var(--desaturated-dark-blue);
}
.btn:hover svg path, .btn--active svg path {
  fill: white;
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
}

a {
  text-decoration: underline;
}
a:hover {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=main.css.map */